.betaFont{
  font-family: 'Roboto Slab', cursive, sans-serif;
 }
 .cursiveFont{
   font-family: 'Pacifico', cursive;
 }

 html, .formalFont{
  font-family: 'futura', helvetica, sans-serif;
}

.usefulLinks {
  margin-top: -5px;
  color: white;
  
}

.challengeMessage{
  background: rgba(96,96,96, 0.5);
  color: white;
  padding: 10px;
  border-radius: 10px;
  width: 65%;
  text-align: center;
  margin: 5px auto;

}

.quote {
  font-size: 0.9em;
  opacity: 0.8;
}
.quote:hover {
  font-size: 1em;
  opacity: 1;
  cursor: default;
}

/*.challengeMessage{
  background-color: #333;
  opacity: 0.8;
  padding: 10px;
  border-radius: 10px;
  width: 90%;
  text-align: center;
  margin: 5px auto;

}*/

/*.topAnnouncement{
  position: absolute;
  top: 10px;
  margin-right: auto;
  margin-left: auto;
  left: 0px;
  right: 0px;
  width:40%;
  background-color: #333;
  opacity: 0.8;
  font-size: 0.8em;
  padding:5px;
  margin-top: 10px;
  border-radius: 10px;
}*/

.socialLink {
  opacity: 0.5;
  margin-right: 15px;
  color: white;
}

.socialLink:hover {
  opacity: 1.0;
  font-size: 1.2em;

}

a { cursor: pointer; cursor: hand; }

.currentPrayer {
/*    position: relative;
    display: inline-block;
    cursor: default;*/
    /*font-size: 1.2em;*/
    /*font-weight: bold;*/
    border-bottom: 1px dotted white;
}

.prayerTimes{
  margin-right: 10px;
}

.eventsPanel{
  background-color: #333;
  border-radius: 5px;
  opacity: 0.8;
  padding: 10px;
  width: 200px;
  margin-bottom: 35px;
}

.time{
  margin-top: 70px;
  color: #fff;
  font-size: 160px;
  /*text-shadow: 2px 2px #333;*/
}

.container{
  max-width: 65%;
}

.ampm {
    text-transform: uppercase;
    font-size: 0.3em !important;
    margin-left: -50px;
}

.capitalize {
  text-transform: capitalize;
}

.eventAlert {
  background-color: white;
  color: #333;
  border-radius: 5px;
  padding: 5px;
  width: 190px;
  margin-bottom: 35px;
  -webkit-animation-duration: 7s;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-iteration-count: 2;
}

html{
    /*background-image: url("/tree4.jpg");*/
    /*background-size:cover;*/
    min-width: 100%;
    /*    
    background-size:     contain;
    background-repeat:   no-repeat;
    background-position: center center;
    background-attachment: fixed;*/
    /*text-shadow: 2px 2px #333;*/
 }

 .slightSmall{
  font-size: 1.2em;
}
.smallFont{
  font-size: 0.7em;
}
.smallerFont{
  font-size: 0.5em;
}
.marginRight{
  margin-right: 25px;
}

.marginRightSmall{
  margin-right: 10px;
}


.invisible{
  visibility: hidden;
}

.visible{
  visibility: visible;
}

.eventType {
  text-transform: capitalize;
  font-size: 0.5em;
  background-color: green;
  color: white;
  /*text-shadow: 0px 0px #fff;*/
  padding: 0 5px;
  margin-top:10px;
  line-height: 1.6;
}

.noShadow,.btn, .btn-floating{
    /*text-shadow: 0px 0px #fff;*/
}

.title{
  position: relative;

}


.addDataBtnLarge{
  position: absolute;
  right: 5px;
  top: 20px;
}

.addDataBtnSmall{
  position: fixed;
  bottom: 70px;
  right: 24px;
}

.brand {
  font-size: 1.5em;
}

.brand:hover {
  font-size: 1.7em;
}

.brand > .usefulLinks {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
.brand:hover > .usefulLinks {
  visibility: visible;
  opacity: 1;
}



.editContent{
  visibility: hidden;
}

  form{
    display:inline;
  }

.greet {
  font-size: 1.2em;
  margin-top: -40px;
  margin-left: 30px;
}

.greetingInput input[type="text"]
{
    font-size:1em;
    width: auto;
}



.userNameSpan:hover{
  border-bottom: 1px solid grey;
}

.userNameSpan:hover .editContent{
  visibility: visible;
}

.socialShare {
  display: none;
  color: white;
}

.quote:hover .socialShare{
  display: block;
  opacity: 0.5;
  color: white;
}



.quote:hover, .socialShare:hover{
  opacity: 1 !important;
}

/* label focus color */
 .input-field input:focus + label {
   color: #388e3c !important;
 }
 /* label underline focus color */
 .row .input-field input:focus {
   border-bottom: 1px solid #388e3c !important;
   box-shadow: 0 1px 0 0 #388e3c !important
 }

/* label focus color */
 .input-field-user input:focus + label {
   color: #1976d2 !important;
 }
 /* label underline focus color */
 .row .input-field-user input:focus {
   border-bottom: 1px solid #1976d2 !important;
   box-shadow: 0 1px 0 0 #1976d2 !important
 }

 .iconAlign {
    display: inline-flex;
    vertical-align: middle;
    margin-bottom: 5px;
}

.eventPanelItems{
  opacity: 0.8;
  font-size: 0.8;
}

 .lessEmphasis {
    color: grey;
    font-size: 0.8em;
}

.eventsCard {
  height: 200px !important;
}

.female {
  color: pink !important;
}

.male {
  color: #90caf9 !important;
}

.fullHeight{
  min-height:100vh !important;
}

.topGap{
  margin-top: 30px;
}

.joinedCount{
  margin-top: 50px;
  opacity: 0.8;
}

.moreTopPadding{
  padding-top: 60px;
}

.topPadding{
  padding-top: 30px;
}

.topGapSmall{
  margin-top: 15px;
}

.noTopGap{
  padding-top: 0;
  margin-top: 0px;
}

.belowCaption{
  padding-top: -25px;
  margin-top: -25px;
}

.lessMarginTop{
  margin-top: -50px;
}

.scrollView{
  max-height: 400px;
  overflow: hidden; 
  overflow-y: scroll;
}

.halfSee {
  opacity: 0.5;
}

.contentDiv{
  margin-top: 3%,

}

.mainLink:hover{
  font-size: 1.2em;
}

.mainContent {
  padding-top: 100px;
}

.topMiddle{
  position: fixed;
  top: 10px;
  width:100%;
  margin: 0 auto;
} 

.topRight{
    position: fixed;
    top: 10px;
    right: 10px;

}

.topLeft{
    z-index: 10;
    position: absolute;
    top: 3px;
    left: 10px;
}
/*
.belowBrand{
    position: absolute;
    top: 50px;
    left: 10px;
    width:80%;
    text-align: left;

}*/

.bottomRight{
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.bottomMiddle{
  position: absolute;
  bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  left: 0px;
  right: 0px;
  width:60%;
} 


.bottomLeft{
    position: fixed;
    bottom: 10px;
    left: 10px;
}
.bottomGap{
  margin-bottom: 30px;
}

.marginSides{
  margin-right: 20px
}

.header{
  font-size: 2.5em;
}

.fullButton{
  display: block;
  width: 100%;
}

.rightAbit{
  margin-left: 28px
}

.rightAbitSgt{
  margin-left: 15px
}

@media only screen and (min-width: 500px) {
    .containedFAB{
      bottom: 45px;
      right: 170px;
    }
}

.fullWidth{
  width: 100%;

}
