.betaFont{
  font-family: 'Indie Flower', cursive, sans-serif;
 }

 html, .formalFont{
  font-family: 'Raleway', helvetica, sans-serif;
}

html{
    background-image: url("/tress.jpg");
    background-size:cover;
    min-width: 100%;
/*    background-size:     contain;
    background-repeat:   no-repeat;
    background-position: center center;
    background-attachment: fixed;*/
    text-shadow: 1px 1px #fff;
 }
.smallFont{
  font-size: 0.7em;
}
.marginRight{
  margin-right: 25px;
}

.marginRightSmall{
  margin-right: 10px;
}


.invisible{
  visibility: hidden;
}

.visible{
  visibility: visible;
}

.eventType {
  text-transform: capitalize;
  font-size: 0.5em;
  background-color: green;
  color: white;
  text-shadow: 0px 0px #fff;
  padding: 0 5px;
  margin-top:10px;
  line-height: 1.6;
}

.btn, .btn-floating{
    text-shadow: 0px 0px #fff;
}

.title{
  position: relative;

}


.addDataBtnLarge{
  position: absolute;
  right: 5px;
  top: 20px;
}

.addDataBtnSmall{
  position: fixed;
  bottom: 70px;
  right: 24px;
}

.brand {
  font-size: 1.5em;
  color: grey;
}

.brand:hover {
  font-size: 1.7em;
}



.editContent{
  visibility: hidden;
}

  form{
    display:inline;
  }

.greetingInput input[type="text"]
{
    font-size:1em;
    width: auto;
}


.userNameSpan:hover{
  border-bottom: 1px solid grey;
}

.userNameSpan:hover .editContent{
  visibility: visible;
}

/* label focus color */
 .input-field input:focus + label {
   color: #388e3c !important;
 }
 /* label underline focus color */
 .row .input-field input:focus {
   border-bottom: 1px solid #388e3c !important;
   box-shadow: 0 1px 0 0 #388e3c !important
 }

/* label focus color */
 .input-field-user input:focus + label {
   color: #1976d2 !important;
 }
 /* label underline focus color */
 .row .input-field-user input:focus {
   border-bottom: 1px solid #1976d2 !important;
   box-shadow: 0 1px 0 0 #1976d2 !important
 }

 .iconAlign {
    display: inline-flex;
    vertical-align: middle;
}

 .lessEmphasis {
    color: grey;
    font-size: 0.8em;
}

.eventsCard {
	height: 200px !important;
}

.female {
	color: pink !important;
}

.male {
	color: #90caf9 !important;
}

.fullHeight{
  min-height:100vh !important;
}

.topGap{
  margin-top: 30px;
}

.moreTopPadding{
  padding-top: 60px;
}

.topPadding{
  padding-top: 30px;
}

.topGapSmall{
  margin-top: 15px;
}

.noTopGap{
  padding-top: 0;
  margin-top: 0px;
}

.topLeft{
    padding-top: 250px;
    padding-left: 10px;
}

.contentDiv{
  margin-top: 3%
}

.mainLink:hover{
  font-size: 1.2em;
}

.topRight{
    position: absolute;
    top: 10px;
    right: 10px;
}

.bottomRight{
    position: fixed;
    bottom: 10px;
    right: 10px;
}


.bottomLeft{
    position: fixed;
    bottom: 10px;
    left: 10px;
}
.bottomGap{
  margin-bottom: 30px;
}

.marginSides{
  margin-right: 20px
}

.header{
  font-size: 2.5em;
}

.fullButton{
  display: block;
  width: 100%;
}

.rightAbit{
  margin-left: 28px
}

.rightAbitSgt{
  margin-left: 15px
}

@media only screen and (min-width: 500px) {
    .containedFAB{
      bottom: 45px;
      right: 170px;
    }
}
